<head>
  <title>Sensq API Yo based on Hello!</title>
</head>

<body>
  <p>Build a simple app with Sensq API. The sample structure.</p>

  {{> hello}}
</body>

<template name="hello">
  <button>Click Me</button>
  {{insight.idd}} <br />
  {{insight.cat}}
</template>
